*{ /* Permet de supprimer les margin et pading mis par défaut sur le navigateur. */
  padding: 0;
  margin: 0;
}


header {
  font-family: 'Roboto', sans-serif;
  background-color: #009688;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  box-shadow: 0px 1px 5px #0000009c;
}

h1{
  padding:5px;
  display:block;
}

body {
  background-color: #ECECEC;
  height: 100vh;
}

#bouton{
  width:10%;
  background-image: url('images/search-icon.png');
  background-repeat: no-repeat;
  background-size: 5% 5%;
  background-position:fixed;
}

.miseenpage{
  font-family:'Roboto', sans-serif;
  font-size:1.3em;
}

a{
  text-decoration:none;
  color: black;
}

a:hover{
  color:red;
  font-size:1.4em;
  transition:0.4s;
  transition-delay:0.1s;
  margin-left:15px;
}

#Mendeleiev{
  width:20%;
  float:left;
}

#TabMend{
  width:10%;
  clear:left;
}

p{
  clear:left;
  text-decoration:underline;
}

#sources{
  padding-left:25px;
  padding-top:5px;
}

.atom:hover {
  z-index:5;
-webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
     -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
         transform: scale(1.5);
  box-shadow:0 0 10px black;
  transition: 0.4s;
  transition-delay:0.25s;
}

.atom {
  -webkit-transition:all .5s cubic-bezier(.6,2,.4,1);
    -moz-transition:all .5s cubic-bezier(.6,2,.4,1);
     -ms-transition:all .5s cubic-bezier(.6,2,.4,1);
      -o-transition:all .5s cubic-bezier(.6,2,.4,1);
         transition:all .5s cubic-bezier(.6,2,.4,1);
  background-color: white;

}

#element {
  margin-left: 15px;
  margin-top: 20px;

}

.legende {
  position: relative;
  width: 80%;
  height: 13%;
  left: 10%;
  top: 10%;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 10%;
  text-align: center;
}

span {
  width: 9.090909%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alc {
  background-image:linear-gradient(#F40101, #B20505);
  left: 0%;
}

.alcTer{
  background-image:linear-gradient(#1228F0, #1323AF);
  left: 9.090909%;
}

.lanth {
  background-image:linear-gradient(#21E648, #1E9B37);
  left: 18.181818%;
}

.actin {
  background-image:linear-gradient(#F0F901, #C6CD04);
  left: 27.272727%;
}

.metauxTransi {
  background-image:linear-gradient(#FFCEFA, #BC8FB7);
  left: 36.363636%;
}

.metauxPauvres {
  background-image:linear-gradient(#3FF9FF, #36C1C6);
  left: 45.454545%;
}

.metalloides {
  background-image:linear-gradient(#FFAC1C, #C48820);
  left: 54.545454%;
}

.nonMetaux {
  background-image:linear-gradient(#FD00F4, #C115BC);
  left: 63.636363%;
}

.hal {
  background-image:linear-gradient(#9100F2, #610A9B);
  left: 72.727272%;
}

.gazNobles {
  background-image:linear-gradient(#CFCFD0, #8C8A8D);
  left: 81.818181%;
}

.nonClasses {
  background-image:linear-gradient(#BF8851, #7D5A37);
  left: 90.909090%;
}
