#table{
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(18, 1fr);
  margin: 100px 150px;
}



.atom{
  height: 50px;
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 4px;
}

#actin{
  display: inherit;
  grid-auto-flow: column;
  grid-row: 11 / 12;
  grid-column: 4 / 19;
}

#lanth{
  display: inherit;
  grid-auto-flow: column;
  grid-row: 10 / 11;
  grid-column: 4 / 19;
}

.empty_space{
  grid-column-start: 2;
  grid-column-end: 18;
  grid-row: 1 / 2;
}

.empty_space2{
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row: 2 / 4;
}
